.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logement-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logement-item {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.logement {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  border-radius: 5px;
}

.logement-image img {
  width: 100%;
  height: 200px; /* Remplacez 200px par la hauteur souhaitée pour les images */
  object-fit: cover;
  display: block;
  border-radius: 5px;
}


.logement-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logement-details p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.logement-details .price {
  color: #000000;
  font-weight: bold;
}

.logement-details p:last-child {
  margin-bottom: 0;
}

.logement-details .location {
  font-weight: bold;
}

.logement-details .price {
  font-weight: normal;
}

